.nav-menu-fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(22, 148, 231);
}

.nav-logo {
  height: 40px;
  padding-left: 20px;
}

.nav-logo:hover {
  cursor: pointer;
  opacity: 0.6;
}
.icon {
  font-size: 20px;

  padding-right: 8px;
}

.nav-menu {
  color: antiquewhite;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-menu:hover {
  color: #0dcaf0;
  opacity: 0.8;
}

.list {
  margin-top: 120px;
  margin-bottom: 16px;
  min-height: 600px;
}

.list-text {
  line-height: 48px;
}

.list-text:hover {
  color: #0dcaf0;
  cursor: pointer;
  opacity: 0.8;
}

.list-text-content {
  margin: 8px 4px;
  border-radius: 8px;
  text-align: center;
  padding-top: 16px;

}

.image-staff {
  padding-bottom: 200px;
}

.staffImage {
  width: 100%;
}

.link-staff:hover {
  color: #121516;
  text-decoration: none;
}

#footer {
  background-color: rgb(57, 134, 182);

  font-size: 20px;
}

.footer {
  padding-top: 32px;

}

.btn-social-icon {
  font-size: 30px;
  border-radius: 12px;
}

.btn-social-icon:hover {
  opacity: 0.8;
}

.footer-copyright {
  text-align: center;
}
.btn-google {
 color: white;
 background-color: #DD4B39;
}
.btn-facebook {
  color: white;
  background-color: #3B5998;
}
.btn-linkedin {
  color: white;
  background-color: #007BB6;
}
.btn-twitter {
  color: white;
  background-color: #55ACEE;
}

.btn-youtube {
  color: white;
  background-color: #CB2027;
}

.btn-mail {
  color: white;
  background-color: #FF5500;
}

@media (max-width: 767px) {
  .nav-menu {
    font-size: 13px;
    padding-left: 12px;
  }
  .icon {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) {

}

