.nav-header {
  margin: auto;
}

#list {
  margin-top: 120px;
}

.list-text {
  line-height: 40px;
  margin: 8px;

}

.list-text:hover {
  color: #0dcaf0;
  cursor: pointer;
}


@media (min-width: 768px) and (max-width: 991px) {

  .list-text {
    width: 45%;

  }
}

@media (min-width: 992px) {

  .list-text {
    width: 30%;

  }
}